!.gitignore

.vscode
.idea
.rpt2_cache
.DS_Store
Thumbs.db

node_modules
*.logs
logs

# Tests
__benches__
__tests__
*.test.ts
*.bench.ts

# Config
.lintignore
_config.yml
barbell.config.js
jest.config.js
rollup.config.js
tsconfig.json
index.ts
